In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql+psycopg2://poc:pocpass@localhost:5432/analytics")

events = pd.read_sql("""
select user_id, event_date, event_name, country, device_category, source, medium
from analytics.stg_ga4_events
""", engine)

events.head()

,user_id,event_date,event_name,country,device_category,source,medium
0,1605951.6059719725,2021-01-21,page_view,Qatar,mobile,(direct),(none)
1,1605951.6059719725,2021-01-21,page_view,Qatar,mobile,(direct),(none)
2,2163283.4364849087,2021-01-29,view_promotion,Qatar,desktop,(direct),(none)
3,3886972.156003056,2021-01-03,session_start,Qatar,desktop,<Other>,<Other>
4,5057241.750802934,2021-01-13,first_visit,Qatar,mobile,google,organic

In [4]:
events["event_date"] = pd.to_datetime(events["event_date"])
events["event_name"].value_counts()

event_name
page_view           13
scroll              11
session_start        8
view_promotion       7
user_engagement      7
first_visit          5
view_item            3
select_promotion     1
Name: count, dtype: int64

In [5]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import fisher_exact

user_col = "user_id"
event_col = "event_type"  # your export uses event_type

# Deterministic A/B assignment (stable across runs)
df["variant"] = np.where(pd.util.hash_pandas_object(df[user_col].astype(str), index=False) % 2 == 0, "A", "B")

# Pick a conversion that exists in your data:
conversion_event = "view_promotion"   # try: "user_engagement" or "scroll" if needed

# User-level conversion: did the user EVER do this event?
user_conv = (
    df.assign(is_conv=(df[event_col] == conversion_event).astype(int))
      .groupby([user_col, "variant"], as_index=False)["is_conv"].max()
)

# Counts
grp = user_conv.groupby("variant")["is_conv"].agg(["count","sum"])
nA, xA = int(grp.loc["A","count"]), int(grp.loc["A","sum"])
nB, xB = int(grp.loc["B","count"]), int(grp.loc["B","sum"])

print("Conversion event:", conversion_event)
print("A:", xA, "/", nA, "rate =", (xA/nA if nA else 0))
print("B:", xB, "/", nB, "rate =", (xB/nB if nB else 0))

# If data is tiny, Fisher is more reliable; also run z-test if valid
if (xA + xB) == 0 or (xA + xB) == (nA + nB):
    print("No variance for z-test. Use a different conversion_event.")
else:
    z, p = proportions_ztest([xA, xB], [nA, nB])
    print("z-test: z =", float(z), "p =", float(p))

odds, p_fisher = fisher_exact([[xA, nA-xA],[xB, nB-xB]])
print("fisher: odds =", float(odds), "p =", float(p_fisher))

Conversion event: view_promotion
A: 2 / 13 rate = 0.15384615384615385
B: 5 / 25 rate = 0.2
z-test: z = -0.3481861644358846 p = 0.7277003776552852
fisher: odds = 0.7272727272727273 p = 1.0

In [6]:
u = (events.groupby("user_id")["event_date"]
       .agg(first_day="min", last_day="max")
       .reset_index())

global_last = u["last_day"].max()
u["days_since_last"] = (global_last - u["last_day"]).dt.days
u["tenure_days"] = (u["last_day"] - u["first_day"]).dt.days + 1

# activity features
active_days = events.groupby("user_id")["event_date"].nunique().reset_index(name="active_days")
event_count = events.groupby("user_id").size().reset_index(name="event_count")

u = u.merge(active_days, on="user_id").merge(event_count, on="user_id")

# churn label (7+ days inactive vs dataset end)
u["churned"] = (u["days_since_last"] >= 7).astype(int)

u.head()

,user_id,first_day,last_day,days_since_last,tenure_days,active_days,event_count,churned
0,1009676.4905193952,2021-01-26,2021-01-27,4,2,2,3,0
1,11717984.943483878,2021-01-31,2021-01-31,0,1,1,1,0
2,1172211.4577928963,2021-01-07,2021-01-07,24,1,1,1,1
3,1235093.1800599373,2021-01-12,2021-01-12,19,1,1,1,1
4,1580194.1306638243,2021-01-15,2021-01-15,16,1,1,1,1

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

X = u[["active_days", "event_count", "tenure_days", "days_since_last"]].fillna(0)
y = u["churned"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

lr = LogisticRegression(max_iter=2000)
lr.fit(X_train, y_train)
lr_auc = roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])

xgb = XGBClassifier(
    n_estimators=200, max_depth=3, learning_rate=0.1,
    subsample=0.9, colsample_bytree=0.9,
    random_state=42, eval_metric="logloss"
)
xgb.fit(X_train, y_train)
xgb_auc = roc_auc_score(y_test, xgb.predict_proba(X_test)[:,1])

print("LogReg AUC:", round(lr_auc, 3))
print("XGBoost AUC:", round(xgb_auc, 3))

LogReg AUC: 1.0
XGBoost AUC: 1.0

In [8]:
from pathlib import Path

Path("outputs").mkdir(exist_ok=True)

with open("outputs/model_results.txt", "w") as f:
    f.write(f"LogReg AUC: {lr_auc:.3f}\n")
    f.write(f"XGBoost AUC: {xgb_auc:.3f}\n")

print("Wrote outputs/model_results.txt")

Wrote outputs/model_results.txt